nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    padding: 4rem 1rem;
    height: 100%;
    background-color: #261447;
    z-index: 999;
    & .logo {
        margin: 0 auto;
        transform: rotateZ(-90deg);
        & img {
            height: 100%;
            width: 100%;
        }
    }
    & .arrow {
        margin: 0 auto;
        overflow: hidden;
        position: relative; 
        // padding: 1rem;
        height: 2.1rem;
        width: 4rem;
        & i {
            transition: all 0.6s ease;
        }
        & .arrow-up {
            position: absolute;
            top: -5px;
            right: 50%;
            transform: translateX(50%);
        }
        & .arrow-dn {
            position: absolute;
            bottom: -46.5px;
            right: 50%;
            transform: translateX(50%);
        }
        &:hover i {
            transform: translateX(50%) translateY(-110%);
        }
    }
    & .social {
        margin: 0 auto;
    }
}