@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Lato:300,400,700");
@keyframes arrowMove {
  0% {
    opacity: 0;
    transform: translateX(-11rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

h2 {
  font-family: 'Josefin Sans';
  font-size: 3.2rem; }

header {
  height: 100vh;
  position: relative;
  font-family: 'Josefin Sans';
  background-image: url("./assets/images/Football homepage.png");
  background-size: cover;
  background-position: top; }

a,
a:link,
a:visited {
  text-decoration: none; }

.auth {
  height: 100vh;
  position: relative;
  font-family: 'Josefin Sans'; }

.active {
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.black-text {
  color: #111 !important; }

.dashboard {
  height: 100vh;
  position: relative;
  font-family: 'Lato'; }

.heading {
  font-family: 'Lato';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 4px;
  font-weight: 200;
  font-size: 2rem; }

.icon-white {
  color: #fff; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  padding: 4rem 0;
  height: 100%;
  background-color: #261447;
  z-index: 999; }
  nav .logo {
    margin: 0 1rem;
    transform: rotateZ(-90deg); }
    nav .logo img {
      height: 100%;
      width: 100%; }
  nav .arrow {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 2.1rem;
    width: 4rem; }
    nav .arrow i {
      transition: all 0.6s ease; }
    nav .arrow .arrow-up {
      position: absolute;
      top: -5px;
      right: 50%;
      transform: translateX(50%); }
    nav .arrow .arrow-dn {
      position: absolute;
      bottom: -46.5px;
      right: 50%;
      transform: translateX(50%); }
    nav .arrow:hover i {
      transform: translateX(50%) translateY(-110%); }
  nav .social {
    margin: 0 auto; }

.auth-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  padding: 4rem 0;
  height: 100%;
  background-color: #261447;
  position: fixed;
  top: 0%;
  left: 0%; }
  .auth-navbar .nav__link {
    display: flex;
    flex-direction: column;
    height: calc(100% / 2);
    justify-content: space-around;
    width: 100%; }
    .auth-navbar .nav__link .nav-item {
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      padding: 1.2rem;
      border: none;
      outline: none;
      background-color: transparent;
      transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.active {
  border-left: 4px solid #ca1111 !important;
  background-color: #321b5e !important;
  color: #fff; }

.google-signup {
  position: absolute;
  top: 50%;
  left: 20%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .google-signup i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .google-signup h2 {
    font-size: 2.5rem; }
  .google-signup::before, .google-signup::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .google-signup::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .google-signup::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .google-signup:hover {
    color: #fff; }
    .google-signup:hover::before, .google-signup:hover::after {
      height: 100%; }

.google-login {
  position: absolute;
  top: 50%;
  left: 60%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .google-login i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .google-login h2 {
    font-size: 2.5rem; }
  .google-login::before, .google-login::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .google-login::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .google-login::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .google-login:hover {
    color: #fff; }
    .google-login:hover::before, .google-login:hover::after {
      height: 100%; }

.facebook-signup {
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .facebook-signup i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .facebook-signup h2 {
    font-size: 2.5rem; }
  .facebook-signup::before, .facebook-signup::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .facebook-signup::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .facebook-signup::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .facebook-signup:hover {
    color: #fff; }
    .facebook-signup:hover::before, .facebook-signup:hover::after {
      height: 100%; }

.facebook-login {
  position: absolute;
  top: 30%;
  left: 60%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .facebook-login i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .facebook-login h2 {
    font-size: 2.5rem; }
  .facebook-login::before, .facebook-login::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .facebook-login::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .facebook-login::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .facebook-login:hover {
    color: #fff; }
    .facebook-login:hover::before, .facebook-login:hover::after {
      height: 100%; }

.card {
  margin: 10rem auto;
  width: 50%;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0px 0 10px #eee;
  border-radius: 5px; }
  .card__heading {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .card h5 {
    color: #444; }
  .card h3 {
    color: #999; }
  .card__content {
    display: flex; }
    .card__content .card__left {
      margin: 2rem; }
      .card__content .card__left__heading {
        font-size: 2.4rem;
        text-align: center; }
      .card__content .card__left__img {
        margin: 4rem 0;
        padding: 0.5rem;
        width: 30rem;
        height: 22rem;
        box-shadow: 0px 3px 5px #eee; }
        .card__content .card__left__img img {
          width: 100%; }
    .card__content .card__middle {
      width: calc(860px/3);
      position: relative; }
      .card__content .card__middle .vs {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.1rem;
        border-radius: 50rem;
        box-shadow: 0px 0px 5px #ddd;
        color: #444;
        padding: 2rem; }
    .card__content .card__right {
      margin: 2rem; }
      .card__content .card__right__heading {
        font-size: 2.4rem;
        text-align: center; }
      .card__content .card__right__img {
        margin: 4rem 0;
        padding: 0.5rem;
        width: 30rem;
        height: 22rem;
        box-shadow: 0px 3px 5px #eee; }
        .card__content .card__right__img img {
          width: 100%; }

.leagueCard {
  margin: 5rem;
  padding: 2rem;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0 10px #eee;
  border-radius: 5px; }
  .leagueCard__heading {
    font-weight: 100; }

.sweet-loading {
  position: relative;
  height: 100%;
  width: 95%;
  margin: 0 0 0 10rem;
  background-color: #fff;
  z-index: 999; }
  .sweet-loading--stop {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }

.home-title__heading {
  position: absolute;
  top: 53.5%;
  left: 20%;
  transform: translateX(-30%);
  margin-bottom: 1rem;
  color: #fff; }

.home-title__button {
  background-color: #da2c38;
  color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5rem;
  padding: 1rem 4.5rem 1rem 2rem;
  position: absolute;
  top: 63%;
  left: 10%;
  font-weight: bold;
  font-size: 1.4rem; }
  .home-title__button .material-icons {
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 1.5rem; }
  .home-title__button:hover .material-icons {
    animation-name: arrowMove;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  .home-title__button:hover .button__text {
    animation: fadeIn 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.auth-buttons {
  position: absolute;
  top: 5%;
  right: 3%;
  display: flex;
  justify-content: space-between; }
  .auth-buttons .login-div {
    margin-right: 4rem;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    backface-visibility: hidden; }
    .auth-buttons .login-div .login {
      border: none;
      font-size: 1.9rem;
      background-color: transparent; }
    .auth-buttons .login-div .dash {
      background-color: #000;
      height: 2px;
      position: absolute;
      bottom: 7px;
      left: 5px;
      opacity: 1;
      backface-visibility: hidden; }
    .auth-buttons .login-div:hover .dash {
      animation: lineMove 0.5s ease-in-out; }

@keyframes lineMove {
  0% {
    width: 0; }
  50% {
    opacity: 1;
    width: 8rem; }
  99% {
    transform: translateX(8rem); }
  100% {
    opacity: 0; } }
  .auth-buttons .signup-div {
    position: relative;
    backface-visibility: hidden;
    padding: 1rem;
    background-color: #87c38f;
    border: 1px solid #87c38f;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1; }
    .auth-buttons .signup-div .signup {
      border: none;
      font-size: 1.9rem;
      padding: 1rem;
      color: #fff;
      z-index: 1; }
      .auth-buttons .signup-div .signup:hover {
        color: #fff; }
        .auth-buttons .signup-div .signup:hover::before, .auth-buttons .signup-div .signup:hover::after {
          height: 100%; }
      .auth-buttons .signup-div .signup::before, .auth-buttons .signup-div .signup::after {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1; }
      .auth-buttons .signup-div .signup::before {
        background-color: rgba(255, 196, 0, 0.883);
        transition: all 0.4s ease; }
      .auth-buttons .signup-div .signup::after {
        background-color: #f33;
        transition: all 0.6s ease; }

.auth-cover {
  background-color: #ff3333;
  clip-path: polygon(0 0, 60% 0%, 45% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); }

.auth__signup {
  border: none;
  font-size: 6.5rem;
  color: #eee;
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: transparent;
  letter-spacing: 1rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

.auth__login {
  border: none;
  font-size: 6.5rem;
  color: #111;
  position: absolute;
  top: 40%;
  right: 20%;
  background-color: transparent;
  letter-spacing: 1rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

.login-active {
  transform: translateX(60%) scaleX(1.2); }

.league {
  position: relative;
  font-size: 2rem;
  height: 100vh;
  font-family: 'Lato', sans-serif; }
  .league__heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4px;
    font-weight: 200; }
  .league__container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10rem;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .league__error {
    font-size: 2.9rem;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.leagueDetail .league__country {
  font-weight: 100;
  font-size: 2.6rem; }

.leagueDetail .league__season {
  font-weight: 100;
  font-size: 2.6rem; }

.leagueDetail .league__teamCard {
  position: relative;
  top: 40%;
  margin: 0 auto;
  width: 75%;
  padding: 2rem;
  border: 1px solid rgba(231, 231, 231, 0.904);
  border-radius: 4px;
  box-shadow: 0 2px 4px #eee;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .leagueDetail .league__teamCard .league__teams {
    flex: 0 1 100%; }
    .leagueDetail .league__teamCard .league__teams--heading {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 100; }
    .leagueDetail .league__teamCard .league__teams--list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center; }
      .leagueDetail .league__teamCard .league__teams--list .teams__cards {
        padding: 1rem;
        margin: 2rem;
        border: 1px solid rgba(231, 231, 231, 0.804);
        border-radius: 4px; }

.leagueDetail__card {
  position: relative;
  top: 30%;
  margin: 0 auto;
  width: 75%;
  padding: 2rem;
  border: 1px solid rgba(231, 231, 231, 0.904);
  border-radius: 4px;
  box-shadow: 0 2px 4px #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem auto; }
