@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,400|Lato:100,300,400");
.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  margin-left: 10rem; }

.active {
  opacity: 1;
  visibility: visible; }

.hide {
  opacity: 0;
  visibility: hidden; }

.black-text {
  color: #111 !important; }

.dashboard {
  height: 100vh;
  position: relative;
  font-family: 'Lato'; }

.heading {
  font-family: 'Lato';
  margin: 10rem auto;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 3.6rem; }

.offline__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  text-align: center;
  line-height: 5rem; }

.flex--sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.flex--dn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.flex--row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.flex--start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center; }

.api__error {
  text-align: center;
  margin: 10rem auto;
  font-size: 2.9rem;
  font-weight: 300; }

.text-center {
  text-align: center; }

.box-shadow {
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.box-shadow:hover {
  box-shadow: 0 0 14px #e2e2e2; }

.block-center {
  margin: 0 auto; }

.margin--sm {
  margin: 2rem; }

.active-option {
  color: #fff !important;
  background-color: #f00; }

@keyframes arrowMove {
  0% {
    opacity: 0;
    transform: translateX(-11rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Josefin Sans'; }

::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s; }

::selection {
  color: white;
  background-color: #ff1919; }

h2 {
  font-family: 'Josefin Sans';
  font-size: 3.2rem; }

h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1rem; }

header {
  height: 100vh;
  position: relative;
  font-family: 'Josefin Sans';
  background-image: url("./assets/images/Football homepage.png");
  background-size: cover;
  background-position: top; }

a,
a:link,
a:visited {
  text-decoration: none; }

.row {
  width: 90%;
  margin: 0 auto; }

.auth {
  height: 100vh;
  position: relative;
  font-family: 'Josefin Sans'; }

.icon-white {
  color: #fff; }

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  padding: 4rem 0;
  height: 100%;
  background-color: #261447;
  z-index: 999; }
  nav .logo {
    margin: 0 1rem;
    transform: rotateZ(-90deg); }
    nav .logo img {
      height: 100%;
      width: 100%; }
  nav .arrow {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 2.5rem;
    width: 4rem; }
    nav .arrow i {
      transition: all 0.6s ease; }
    nav .arrow .arrow-up {
      position: absolute;
      top: -2px;
      right: 50%;
      transform: translateX(50%); }
    nav .arrow .arrow-dn {
      position: absolute;
      bottom: -46.5px;
      right: 50%;
      transform: translateX(50%); }
    nav .arrow:hover i {
      transform: translateX(50%) translateY(-145%); }
  nav .social {
    margin: 0 auto; }

.auth-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  padding: 4rem 0;
  height: 100%;
  background-color: #261447;
  position: fixed;
  top: 0%;
  left: 0%; }
  .auth-navbar .nav__link {
    display: flex;
    flex-direction: column;
    height: calc(100% / 2);
    justify-content: space-around;
    width: 100%; }
    .auth-navbar .nav__link .nav-item {
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-size: 1.5rem;
      text-align: center;
      padding: 1.2rem;
      border: none;
      outline: none;
      background-color: transparent;
      transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.active {
  border-left: 4px solid #ca1111 !important;
  background-color: #321b5e !important;
  color: #fff; }

.modal {
  z-index: 999;
  opacity: 0.97;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0; }
  .modal__box {
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    z-index: 999;
    box-shadow: 1px 2px 5px #e6e6e6; }
  .modal__heading {
    text-align: center;
    font-weight: 100;
    font-size: 2.8rem; }
  .modal__warning {
    font-size: 2rem;
    margin: 10rem; }
  .modal__button {
    cursor: pointer;
    margin: 4rem auto;
    width: 40%;
    display: block;
    text-align: center;
    font-size: 2.2rem;
    padding: 2rem 4rem;
    border: none;
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 100px; }
  .modal__X {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 95%; }

.google-signup {
  position: absolute;
  top: 50%;
  left: 20%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .google-signup i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .google-signup h2 {
    font-size: 2.5rem; }
  .google-signup::before, .google-signup::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .google-signup::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .google-signup::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .google-signup:hover {
    color: #fff; }
    .google-signup:hover::before, .google-signup:hover::after {
      height: 100%; }

.google-login {
  position: absolute;
  top: 50%;
  left: 60%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .google-login i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .google-login h2 {
    font-size: 2.5rem; }
  .google-login::before, .google-login::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .google-login::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .google-login::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .google-login:hover {
    color: #fff; }
    .google-login:hover::before, .google-login:hover::after {
      height: 100%; }

.facebook-signup {
  position: absolute;
  top: 30%;
  left: 20%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .facebook-signup i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .facebook-signup h2 {
    font-size: 2.5rem; }
  .facebook-signup::before, .facebook-signup::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .facebook-signup::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .facebook-signup::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .facebook-signup:hover {
    color: #fff; }
    .facebook-signup:hover::before, .facebook-signup:hover::after {
      height: 100%; }

.facebook-login {
  position: absolute;
  top: 30%;
  left: 60%;
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 40rem;
  color: #fff;
  background-color: transparent;
  border: 2px solid #eee;
  z-index: 1; }
  .facebook-login i {
    padding: .9rem;
    margin-right: 5rem;
    font-size: 2.4rem; }
  .facebook-login h2 {
    font-size: 2.5rem; }
  .facebook-login::before, .facebook-login::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .facebook-login::before {
    background-color: rgba(224, 224, 224, 0.883);
    transition: all 0.4s ease; }
  .facebook-login::after {
    background-color: #f33;
    transition: all 0.6s ease; }
  .facebook-login:hover {
    color: #fff; }
    .facebook-login:hover::before, .facebook-login:hover::after {
      height: 100%; }

.leagueCard {
  margin: 5rem;
  padding: 2rem;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0 10px #eee;
  border-radius: 5px; }
  .leagueCard__heading {
    font-weight: 300; }

.sweet-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  margin-left: 10rem; }

.loader {
  position: fixed;
  background-color: #fff;
  z-index: 999; }

.card__container {
  font-family: 'Lato';
  font-size: 1.9rem;
  margin: 5rem auto;
  width: 75%;
  padding: 2rem;
  border: 1px solid rgba(231, 231, 231, 0.904);
  border-radius: 4px;
  box-shadow: 0 2px 4px #eee; }

.card__heading {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
  margin: 0 auto; }

.card__content {
  padding: 2rem; }

.card--small {
  padding: 2rem;
  margin: 5rem;
  border: 1px solid rgba(231, 231, 231, 0.804);
  border-radius: 4px;
  cursor: pointer;
  color: #000; }

.card--round {
  font-size: 1.7rem;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid rgba(231, 231, 231, 0.804);
  border-radius: 50px;
  cursor: pointer;
  color: #000; }

.home-title__heading {
  position: absolute;
  top: 53.5%;
  left: 20%;
  transform: translateX(-30%);
  margin-bottom: 1rem;
  color: #fff; }

.home-title__button {
  background-color: #da2c38;
  color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5rem;
  padding: 1rem 4.5rem 1rem 2rem;
  position: absolute;
  top: 63%;
  left: 11.8%;
  font-weight: bold;
  font-size: 1.4rem; }
  .home-title__button .material-icons {
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 1.5rem; }
  .home-title__button:hover .material-icons {
    animation-name: arrowMove;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
  .home-title__button:hover .button__text {
    animation: fadeIn 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.auth-buttons {
  position: absolute;
  top: 5%;
  right: 3%;
  display: flex;
  justify-content: space-between; }
  .auth-buttons .login-div {
    margin-right: 4rem;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    backface-visibility: hidden; }
    .auth-buttons .login-div .login {
      border: none;
      font-size: 1.9rem;
      background-color: transparent; }
    .auth-buttons .login-div .dash {
      background-color: #000;
      height: 2px;
      position: absolute;
      bottom: 7px;
      left: 5px;
      opacity: 1;
      backface-visibility: hidden; }
    .auth-buttons .login-div:hover .dash {
      animation: lineMove 0.5s ease-in-out; }

@keyframes lineMove {
  0% {
    width: 0; }
  50% {
    opacity: 1;
    width: 8rem; }
  99% {
    transform: translateX(8rem); }
  100% {
    opacity: 0; } }
  .auth-buttons .signup-div {
    position: relative;
    backface-visibility: hidden;
    padding: 1rem;
    background-color: #87c38f;
    border: 1px solid #87c38f;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1; }
    .auth-buttons .signup-div .signup {
      border: none;
      font-size: 1.9rem;
      padding: 1rem;
      color: #fff;
      z-index: 1; }
      .auth-buttons .signup-div .signup:hover {
        color: #fff; }
        .auth-buttons .signup-div .signup:hover::before, .auth-buttons .signup-div .signup:hover::after {
          height: 100%; }
      .auth-buttons .signup-div .signup::before, .auth-buttons .signup-div .signup::after {
        content: "";
        width: 100%;
        height: 0;
        border-radius: 5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1; }
      .auth-buttons .signup-div .signup::before {
        background-color: rgba(255, 196, 0, 0.883);
        transition: all 0.4s ease; }
      .auth-buttons .signup-div .signup::after {
        background-color: #f33;
        transition: all 0.6s ease; }

.about {
  position: relative;
  margin-bottom: -10rem;
  height: 100vh; }
  .about .heading {
    font-family: 'Josefin Sans';
    font-size: 4rem;
    font-weight: 400;
    margin-top: 5rem;
    border-bottom: 0.5px solid #000;
    padding: 1rem; }
  .about .content {
    margin-top: 30rem; }
  .about .left {
    width: 50%;
    float: left;
    padding: 8rem; }
    .about .left__content {
      font-weight: 200;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      padding: 3rem;
      letter-spacing: 1px;
      line-height: 3rem; }
  .about .right {
    width: 50%;
    float: right;
    padding: 5rem 15rem; }

.open-source {
  position: relative;
  height: 100vh; }
  .open-source .heading {
    font-family: 'Josefin Sans';
    font-size: 4rem;
    font-weight: 400;
    margin-top: 1rem;
    border-bottom: 0.5px solid #000;
    padding: 1rem; }
  .open-source .content {
    margin-top: 25rem; }
  .open-source .right {
    width: 50%;
    float: right;
    padding: 8rem; }
    .open-source .right__content {
      font-weight: 200;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      padding: 3rem;
      letter-spacing: 1px;
      line-height: 3rem; }
  .open-source .left {
    width: 50%;
    float: left;
    padding: 5rem 15rem; }

.footer {
  position: relative;
  background-color: #101d36;
  z-index: 999;
  padding: 10rem;
  height: 95vh; }
  .footer .content {
    margin-top: 15rem; }
  .footer .right {
    width: 50%;
    float: right; }
    .footer .right__content {
      color: #fff;
      font-weight: 200;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      padding-top: 5rem;
      letter-spacing: 1px;
      line-height: 3rem;
      padding-left: 20rem; }
      .footer .right__content .links a,
      .footer .right__content .links a:visited,
      .footer .right__content .links a:link {
        color: #fff; }
      .footer .right__content .links__list {
        list-style: none; }
  .footer .left {
    width: 50%;
    float: left; }
    .footer .left img {
      width: 15rem;
      height: 15rem; }
    .footer .left h5 {
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: 1px; }
  .footer .info {
    color: #fff;
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translateY(-50%);
    font-size: 1.6rem; }

.contact__heading {
  text-align: center;
  font-size: 5.2rem;
  margin: 5rem auto;
  font-weight: 400; }

.contact__content {
  text-align: center;
  font-size: 2.2rem; }

.contact__error {
  background-color: #f00;
  width: 80%;
  margin: 5rem auto;
  padding: 1rem;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem; }

.contact__box {
  text-align: center;
  margin: 8rem;
  padding: 4rem;
  border: 1px solid rgba(233, 233, 233, 0.7);
  box-shadow: 0 1px 2px #e2e2e2; }

.contact__form__element {
  margin: 4rem; }
  .contact__form__element label {
    font-size: 2rem; }
  .contact__form__element input {
    font-family: 'Josefin Sans';
    font-size: 3rem;
    font-weight: 200;
    width: 80%;
    height: 5rem;
    margin-left: 5rem;
    border: none;
    background-color: #fff;
    border-bottom: 0.5px solid #c3c3c3;
    outline-color: #fff;
    color: #161616; }

.contact__submit {
  cursor: pointer;
  font-family: 'Josefin Sans';
  width: 40%;
  padding: 1rem 2rem;
  color: #000;
  letter-spacing: 2px;
  font-size: 2.4rem;
  background-color: white;
  border: none;
  border: 1px solid #008f70;
  border-radius: 4px;
  outline-color: #fff;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.contact__submit:hover {
  color: #fff;
  background-color: #008f70; }

textarea {
  font-family: 'Josefin Sans';
  font-size: 3rem;
  font-weight: 200;
  width: 80%;
  height: 30rem;
  resize: none;
  margin-left: 3rem;
  border: none;
  background-color: #fff;
  border-bottom: 0.5px solid #c3c3c3;
  outline-color: #fff;
  color: #161616;
  vertical-align: top; }

.back__arrow {
  font-size: 4rem;
  position: absolute;
  top: 5%;
  left: 5%; }

.yellow {
  background-color: #ffbb00 !important; }

.green {
  background-color: #0f0 !important; }

.red {
  background-color: #f00 !important; }

.auth-cover {
  background-color: #ff3333;
  clip-path: polygon(0 0, 60% 0%, 45% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); }

.auth__signup {
  border: none;
  font-size: 6.5rem;
  color: #eee;
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: transparent;
  letter-spacing: 1rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

.auth__login {
  border: none;
  font-size: 6.5rem;
  color: #111;
  position: absolute;
  top: 40%;
  right: 20%;
  background-color: transparent;
  letter-spacing: 1rem;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1); }

.login-active {
  transform: translateX(60%) scaleX(1.2); }

.profile__content {
  margin: 10rem auto; }

.profile__photo {
  margin: 0 auto;
  text-align: center; }
  .profile__photo img {
    border-radius: 500px;
    height: 25rem;
    width: 25rem; }

.profile__details {
  text-align: center;
  margin: 5rem auto; }
  .profile__details__name {
    margin-top: 2rem;
    font-size: 4rem; }
  .profile__details__item {
    font-family: "Lato";
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 100; }
  .profile__details__item:nth-child(3) {
    text-transform: capitalize; }

.profile__buttons {
  display: flex;
  margin: 5rem auto;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap; }
  .profile__buttons--logout {
    cursor: pointer; }
    .profile__buttons--logout a {
      font-size: 2.2rem;
      padding: 2rem 6rem;
      border: none;
      background-color: transparent;
      border: 4px solid red;
      border-radius: 100px;
      transition: background-color 0.4s ease-in-out, color 0.2s ease-in; }
    .profile__buttons--logout a:hover {
      color: #fff;
      background-color: red; }
  .profile__buttons--delete {
    cursor: pointer; }
    .profile__buttons--delete a {
      font-size: 2.2rem;
      padding: 2rem 4rem;
      border: none;
      color: #fff;
      background-color: red;
      border: 2px solid red;
      border-radius: 100px;
      -moz-outline-radius: 100px; }

.team {
  height: 100vh; }
  .team__teamName {
    text-align: center;
    margin: 5rem auto; }
  .team__teamAddress {
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center; }
  .team__teamFlag {
    margin: 5rem auto;
    display: block;
    width: 10rem;
    height: 10rem; }

.videos__results {
  padding: 5rem;
  width: 100%; }
