.card {
    &__container {
        font-family: 'Lato';
        font-size: 1.9rem;
        margin: 5rem auto;
        width: 75%;
        padding: 2rem;
        border: 1px solid rgba(231, 231, 231, 0.904);
        border-radius: 4px;
        box-shadow: 0 2px 4px #eee;
    }

    &__heading {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        display: block;
        margin: 0 auto;
    }

    &__content {
        padding: 2rem;
    }

    &--small {
          padding: 2rem;
          margin: 5rem;
          border: 1px solid rgba(231, 231, 231, 0.804);
          border-radius: 4px;
          cursor: pointer;
          color: #000;
    }
}

