.sweet-loading{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background-color: #fff;
    z-index: 999;

    &--stop{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}