.sweet-loading{
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 0 0 10rem;
    background-color: #fff;
    z-index: 999;

    &--stop{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}