.contact {


    &__heading {
        text-align: center;
        font-size: 5.2rem;
        margin: 5rem auto;
        font-weight: 400;
    }

    &__content {
        text-align: center;
        font-size: 2.2rem;
    }

    &__error {
        background-color: #f00;
        width: 80%;
        margin: 5rem auto;
        padding: 1rem;
        letter-spacing: 2px;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 2rem;
    }

    &__box {
        text-align: center;
        margin: 8rem;
        padding: 4rem;
        border: 1px solid rgba(233, 233, 233, 0.7);
        box-shadow: 0 1px 2px rgb(226, 226, 226);
    }

    &__form__element {
        margin: 4rem;

        & label {
            font-size: 2rem;
        }

        & input {
            font-family: 'Josefin Sans';
            font-size: 3rem;
            font-weight: 200;
            width: 80%;
            height: 5rem;
            margin-left: 5rem;
            border: none;
            background-color: #fff;
            border-bottom: 0.5px solid rgb(195, 195, 195);
            outline-color: #fff;
            color: rgb(22, 22, 22);
        }
    }

    &__submit {
        cursor: pointer;
        font-family: 'Josefin Sans';
        width: 40%;
        padding: 1rem 2rem;
        color: #000;
        letter-spacing: 2px;
        font-size: 2.4rem;
        background-color: rgb(255, 255, 255);
        border: none;
        border: 1px solid rgb(0, 143, 112);
        border-radius: 4px;
        outline-color: #fff;
        transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &__submit:hover {
        color: #fff;
        background-color: rgb(0, 143, 112);
    }
}

textarea {
    font-family: 'Josefin Sans';
    font-size: 3rem;
    font-weight: 200;
    width: 80%;
    height: 30rem;
    resize: none;
    margin-left: 3rem;
    border: none;
    background-color: #fff;
    border-bottom: 0.5px solid rgb(195, 195, 195);
    outline-color: #fff;
    color: rgb(22, 22, 22);
    vertical-align: top;
}

.back__arrow {
    font-size: 4rem;
    position: absolute;
    top: 5%;
    left: 5%;
}

.yellow{
    background-color: rgb(255, 187, 0) !important;
}

.green {
    background-color: #0f0 !important;
}
.red {
    background-color: #f00 !important;
}