.team {
    height: 100vh;

    &__teamName {
        text-align: center;
        margin: 5rem auto;

    }

    &__teamAddress {
        margin: 0 auto;
        font-size: 1.6rem;
        text-align: center;
    }

    &__teamFlag {
        margin: 5rem auto;
        display: block;
        width: 10rem;
        height: 10rem;
    }

}