@keyframes arrowMove {
    0% {
        opacity: 0;
        transform: translateX(-11rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// @keyframes lineMove {
//     0% {
//         width: 0;
//     }
//     50% {
//         opacity: 1;
//         width: 6rem;
//     }
//     99% {
//         transform: translateX($);
//     }
//     100% {
//         opacity: 0;
//     }
// }