@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,600,700|Lato:300,400,700');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Josefin Sans';
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: yellow;
}


::selection{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 25, 25);
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 3.2rem;
}

header {
    height: 100vh;
    position: relative;
    font-family: 'Josefin Sans';
    background-image: url('./assets/images/Football\ homepage.png');
    background-size: cover;
    background-position: top;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin-left: 10rem;
}

.row {
    width: 80%;
    margin: 0 auto;
    // height: 100vh;
    overflow: hidden;
}

.auth {
    height: 100vh;
    position: relative;
    font-family: 'Josefin Sans';
}

//for Auth Section
.active {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.black-text {
    color: #111 !important;
}

//------------xx------------------
.dashboard {
    height: 100vh;
    position: relative;
    font-family: 'Lato';
}

.heading {
    font-family: 'Lato';
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 2rem;
}

